body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* height: 100vh; */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.calendly-inline {
    margin-top: 20px;
    width: 100%;
    /* background-color: #f4f4f4; */
    /* height: 80vh;  */
    display: block;
    /* display: none;  */
}

.calendly-inline iframe {
    width: 100%;
    /* height: 100%;  */
    border: none;
}
